langchain
langchain-community
transformers
sentence-transformers
torch
pdfplumber
scikit-learn
streamlit
pdfplumber
spacy
sentence-transformers
scikit-learn
pandas

python-dotenv
google-generativeai
PyPDF2
